.navbar {
        background-image: none;
            background-color: #D00000;
}

.navbar-nav li a {
        background-color: #D00000 !important;
}

.navbar-nav>.active>a, .navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li a:active {
        background-color: #B00000 !important;
}

.dropdown-menu li a {
        background-color: transparent !important;
}

.dropdown-menu li.active a {
        background-color: #B00000 !important;
}

.bs-sidebar a {
        color: #555 !important;
}
